/* Body Styling */
/*.navbar{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}*/
.navbar > ul{
    display:flex;
}
.navbar > ul > li{
    padding:10px;
    list-style:none;
}
.product{
        width:200px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin: 10px;
}
.product_card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
   
}
.product > .product_img{
width: 100px;
}
.skeleton_Container{
    display: flex;
    flex-wrap: wrap;
}
.skeleton{
    width: 200px;
    height: 400px;
    margin: 10px;
    background-color: #e0e0e0;
}

